@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Almarai-Regular';
    src: url('../js/Assets/Almarai-Regular.ttf'), format('ttf');
}
body {
    direction: rtl;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-right: 10px;
    font-size: larger;
  }
  
  #sidebar {
    transition: width 0.3s ease-in-out;
  }